# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- '*'

variables:
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  poolName: 'demo1'
  artifaceName: cpo
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: 'Build the web application'
  jobs:
  - job: 'Build'
    displayName: 'Build job'
    pool:
      name: $(poolName)
        
    steps:
    - task: Npm@1
      displayName: Build angular code using NPM
      inputs:
        command: 'install'
        workingDir: 'ClientApp'

    - task: Npm@1
      displayName: Build angular code using NPM
      inputs:
        command: 'install'
        workingDir: 'ClientApp'
    
    - task: Npm@1
      displayName: Publish angular code using NPM
      inputs:
        command: 'ci'
        workingDir: 'ClientApp'
    - script: dontnet build --configuration $(buildConfiguration)
      displayName: 'dotnet biuld $(buildConfiguration)'
    
    - task: DotNetCoreCLI@2
      displayName: Publish angular code using NPM
      inputs:
        command: 'publish'
        publishWebProjects: true
        arguments: '--configuration $(buildConfiguration) --output $(build.ArtifactStagingDirectory)/$(buildConfiguration)'
        zipAfterPublish: true

          
    # - upload: cpo
    #   artifact: cpo
